{% extends "admin/change_form.html" %}
{% load add_preserved_filters from admin_urls %}

{% block object-tools-items %}
  {% for tool in objectactions %}
    <li class="objectaction-item" data-tool-name="{{ tool.name }}">
      {% url tools_view_name pk=object_id tool=tool.name as action_url %}

      <form action="{{ action_url }}" method="get" name="otp_code">{% csrf_token %}
          {{ tool.label|capfirst }}
          <label for="otp_code">OTP Code:</label>
          <input type="text" id="otp_code" name="otp_code">
          <button type="submit">Try</button>
      </form>
{#      <a href="{% add_preserved_filters action_url %}"#}
{#         onclick="window.open(this.href, '_blank', 'width=200px', 'height=200px', 'toolbars=no', 'scrollbars=no'); return false;"#}
{#         title="{{ tool.standard_attrs.title }}"#}
{#         {% for k, v in tool.custom_attrs.items %}#}
{#           {{ k }}="{{ v }}"#}
{#         {% endfor %}#}
{#         class="{{ tool.standard_attrs.class }}">#}
{#      {{ tool.label|capfirst }}#}
{#      </a>#}
    </li>
  {% endfor %}
  {{ block.super }}
{% endblock %}
